<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Contact with us !</ion-card-title>
          <ion-card-subtitle>let's get started</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
              <ion-item>
                <ion-label position="floating">Your Name</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>

                <ion-item>
                  <ion-label position="floating">Your E-mail</ion-label>
                  <ion-input type="email"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Your Message</ion-label>
                    <ion-textarea rows="6" cols="20"></ion-textarea>
                </ion-item>
                
                <ion-item>
                    <ion-button shape="round" color="success">Send</ion-button>
                    <ion-button shape="round" color="warning">Reset</ion-button>
                </ion-item>
        </ion-card-content>
      </ion-card>
</ion-content>
