<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <h1 style="width:100%;text-align: center;align-content: center;align-self: center;">This is Ionic 4 Demo news Reading Application</h1>
            <img src="https://pbs.twimg.com/profile_images/834457277830541312/bYMCvtHD_400x400.jpg" style="width:100%;text-align: center;align-content: center;align-self: center;">

            <div style="width:100%;text-align: center;align-content: center;align-self: center;"> 
                <a href="https://github.com/Dilshan97" target="_blank"><ion-icon name="logo-github"></ion-icon></a>&nbsp;
                <a href="https://www.facebook.com/dilshan.ramesh.75" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>&nbsp;
                <a href="https://twitter.com/dilshanramesh81" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>&nbsp;
                <a href="https://wa.me/94771854709" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a>
            </div>
        </ion-card-content>
      </ion-card>
</ion-content>
