<ion-header>
  <ion-toolbar>
    <ion-title>{{article.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-img [src]="article.urlToImage"></ion-img>
    <ion-card-content>
      <ion-card-title>{{article.title}}</ion-card-title>
      <p>By {{article.author}}</p>
      <ion-badge color="success">{{article.publishedAt}}</ion-badge>
      <p>{{article.content}}</p>
      <ion-badge color="secondary"><ion-icon name="share"></ion-icon></ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>